<div class="bordetop"></div>

<div class="bgBeneficios">
    <div class="titulo d-flex">
        <img src="../../../assets/img/svg/socios.svg" alt="">
        <h1 class="tituloPagina ml-md-5 ml-3 d-flex align-items-center">Beneficios del Socio</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="contenedor d-flex flex-wrap justify-content-center">        
                <div class="cartaBeneficios col-12 col-md-5 col-xl-3 mt-4 mr-md-4">            
                    <div class="head d-flex sociosbg">                        
                    </div>
                    <div class="parrafosBeneficios">
                        <p><strong>Edificio de 4 pisos donde funcionan Farmacia, Odontología, Podología, Kineisología, Cardiología, Peluquería, Pelotero Infantil, Gimnasio. </strong></p>
                        <p><strong>ASESORÍA GREMIAL:</strong> Asesoramiento y defensa de los derechos gremiales.Aplicación del Convenio Colectivo de Trabajo, etc. 
                        <strong>ASESORÍA LETRADA:</strong> Atención gratuita a todos los socios. Por reconocidos profe­sionales del medio.</p>            
                    </div>
                </div>
                <div class="cartaBeneficios col-12 col-md-5 col-xl-3 mt-4 mr-md-4">            
                    <div class="head d-flex salonbg">                        
                    </div>
                    <div class="parrafosBeneficios">
                        <p>Amplios y confortables a servicio de todos los socios y su grupo familiar primario (hijos menores de 18 años). Equipados con Aire acondicionado, acceso con rampas y ascensor.</p>
                        <p><strong>Pelotero Infantil</strong> climatizado y sonorizado. Cuenta con cocina, heladeras, microondas, mesas y sillas para chicos y grandes. Inflables Gigantes.</p>
                    </div>
                </div>
                <div class="cartaBeneficios col-12 col-md-5 col-xl-3 mt-4 mr-md-4">            
                    <div class="head d-flex campingbg">
                    </div>
                    <div class="parrafosBeneficios">
                        <p><strong>COMPLEJO ROQUE DESMARAS</strong> 11,5 Hectáreas para su comodidad. Disfrute al aire libre con su familia y grupo de amigos (15 invitados). Aproveche de las cómodas instalaciones que le ofrece su sindicato.</p>
                        <p><strong>CANCHAS DE FÚTBOL Y CAMPEONATOS PARA LOS SOCIOS.</strong> Ud. cuenta en su camping con 7 Canchas Parquizadas: 4 con una perfecta iluminación para realizar prácticas nocturnas, 3 para siete jugadores, 1 para nueve y otra cancha para 11 jugadores.</p>
                    </div>
                </div> 
                <div class="cartaBeneficios col-12 col-md-5 col-xl-3 mt-4 mr-md-4">            
                    <div class="head d-flex osecacbg">
                    </div>
                    <div class="parrafosBeneficios">
                        <p><strong>EN CALIDAD DE PRESTAMOS:</strong> Se le brinda a los Socios: Sillas de Ruedas, Ferulas, Muletas, Andadores, Botas Ortopédicas, Corset y Cama Ortopédica. </p>
                        <p><strong>DERIVADOS PARA LA ATENCIÓN MÉDICA:</strong> Un positivo beneficio que se refiere a una suma adicional para gastos de movilidad.</p>
                        <p><strong>DISCAPACITADOS:</strong> Ayuda mensual para niños con capacidades diferen­tes que concurren a escuelas especiales hasta los 21 años.</p>
                    </div>
                </div>
                <div class="cartaBeneficios col-12 col-md-5 col-xl-3 mt-4 mr-md-4">            
                    <div class="head d-flex pasobg">
                    </div>
                    <div class="parrafosBeneficios">
                        <p><strong>PASO DE LA PATRIA:</strong> Contamos con amplios quinchos, parrillas, sanita­rios y 24 departamentos, los cuales 2 están adaptados para mo­vilidad reducida. <strong>TURISMO:</strong> Alojamiento en nuestros hoteles, en Mar de, Plata, Uspallata, San Luis, Camping en Cosquín, La Falda, etc. <strong>CONVENIO:</strong> Empresa Flecha Bus, pasajes con 20% de descuento al socio y grupo familiar a todo el país. <strong>HOTELES:</strong> GRAN HOTEL 4 estrellas y Hotel 26 de Septiembre. Ambos destinados tanto para esparci­miento o por derivaciones de la Obra Social.</p>
                    </div>
                </div>
                <div class="cartaBeneficios col-12 col-md-5 col-xl-3 mt-4 mr-md-4">            
                    <div class="head d-flex casamientobg">
                    </div>
                    <p class="parrafosBeneficios">
                        El Socio o Socia (si ambos son socios cobran doble) que contraiga matrimonio podrá optar entre el cobro de un subsi­dio, importe que se suma al que por el mismo con­cepto entrega la Administración Nacional de Seguridad Social (ANSES). Ó pasar una noche de Bodas Inolvidable en el Hotel Casino Amerian (5 estrellas), ingresando a la hora 14:00 del día del acontecimiento hasta la hora 18:00 del día siguiente, ó una semana de alojamiento en Paso de la Patria.
                    </p>
                </div>  
                <div class="cartaBeneficios col-12 col-md-5 col-xl-3 mt-4 mr-md-4">            
                    <div class="head d-flex recienbg">
                    </div>
                    <div class="parrafosBeneficios">
                        <p><strong>LECHE PARA RECIÉN NACIDO:</strong> Entrega mensual hasta 6º mes inclusive en OSECAC. (Santa Fe 178) A partir del 7º mes y hasta completar el año, entrega el gremio 3 paquetes de 800 grs.</p>
                        <p><strong>AJUAR PARA BEBÉ:</strong> Magnifico presente junto a nuestras felicitaciones, de un ajuar para socios que reciben la cigüeña. Plazo máximo para retirarlo 30 días luego de su nacimiento.</p>
                    </div>
                </div>
                <div class="cartaBeneficios col-12 col-md-5 col-xl-3 mt-4 mr-md-4">            
                    <div class="head d-flex hijosbg">
                    </div>
                    <div class="parrafosBeneficios">
                        <p><strong>JARDINES DE INFANTES:</strong> Descuento en Jardines Maternos. Vos elegís tu jardín de confianza, si tenés más de un bebé se te cubre por cada uno de ellos. Si el jardín no tiene acuerdo con el sindicato, te hacemos el reintegro.</p>
                        <p><strong>GUARDAPOLVOS O REMERAS Y ZAPATILLAS:</strong> Entrega gratuita al inicio de clases para hijos de socios que con­curren a la Escuela Primaria.</p>
                        <p><strong>PELUQUERÍA:</strong> Corte de pelo para toda la familia.</p>
                    </div>
                </div>
                <div class="cartaBeneficios col-12 col-md-5 col-xl-3 mt-4 mr-md-4">            
                    <div class="head d-flex bolsobg">
                    </div>
                    <div class="parrafosBeneficios">
                        <p>Mercadería de 1º calidad se entrega mensualmente, a los socios que menos ganan y que tienen hijos a cargo. Es una ayuda solida­ria de los que más ganan. Matrimonio de socios se entrega un sólo bolso. </p>
                        <p>En el mes de Diciembre (por única vez) se entraga el <strong>Bolsón Navi­deño</strong> para todos los socios.</p>
                    </div>
                </div>  
                <div class="cartaBeneficios col-12 col-md-5 col-xl-3 mt-4 mr-md-4">            
                    <div class="head d-flex farmaciabg">
                    </div>
                    <div class="parrafosBeneficios">
                        <p>30% de descuento en recetarios del gremio. Pre­sentando también el recetario de OSECAC, el descuento llega al 70% lo que representa uno de los mayores porcentajes de descuento del país.</p>
                        <p>Horarios de Atención: de Lunes a Viernes de 9 a I 3 y de 17 a 21 hs. Sábados de 9 a l 3hs. En caso de necesitar medicamentos fuera de estos horarios Ud. podrá comprar en otra farmacia y con la Factura y el Troquel pedir reintegro.</p>
                    </div>
                </div>
                <div class="cartaBeneficios col-12 col-md-5 col-xl-3 mt-4 mr-md-4">            
                    <div class="head d-flex opticabg">
                    </div>
                    <div class="parrafosBeneficios">
                        <p><strong>OPTICA:</strong> Otro importante beneficio en armazones y cristales de receta en favor del socio y su familia. Con un descuento del 30% del precio de lista.</p>
                        <p><strong>ORTOPEDIA:</strong> Se reconoce un 20% en zapatos y plantillas ortopédicas.</p>
                    </div>
                </div>
                <div class="cartaBeneficios col-12 col-md-5 col-xl-3 mt-4 mr-md-4">            
                    <div class="head d-flex sepeliobg">
                    </div>
                    <p class="parrafosBeneficios">
                        Se cubre importantes descuentos para el socio y su grupo fami­liar directo (Esposo/a e hijos) por muerte natural, requisito único y necesario (que deberá presentar para el servicio ante la empresa funeraria), carnet y último recibo de sueldo.
                    </p>
                </div>         
            </div>
        </div>
    </div>    
</div>
