<div id="carousel-example-1z" class="carousel slide carousel-fade altura" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-1z" data-slide-to="1"></li>
    <li data-target="#carousel-example-1z" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="w-100 altura d-none d-md-block" src="../../../assets/img/bg/slide_azul.jpg" alt="First slide">
      <img class="d-block w-100 altura d-md-none" src="../../../assets/img/movil/bg_rsp_01.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="w-100 altura d-none d-md-block" src="../../../assets/img/bg/slide_02.jpg" alt="Second slide">
      <img class="d-block w-100 altura d-md-none" src="../../../assets/img/movil/bg_rsp_02.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="w-100 altura d-none d-md-block" src="../../../assets/img/bg/slide_03.jpg" alt="Third slide">
      <img class="d-block w-100 altura d-md-none" src="../../../assets/img/movil/bg_rsp_03.jpg" alt="Third slide">
    </div>
  </div>
</div>

<div class="contacto d-flex justify-content-center">
  <a target="_blank" href="https://api.whatsapp.com/send?phone=+5493624527922">
    <button class="boton d-flex align-items-center justify-content-center my-5 my-lg-0">      
      <img class="imgWhatsapp mr-3" src="../../../assets/img/svg/wsp icon.svg" alt="Wh"><span class="textoBoton">Escribinos por
      Whatsapp</span>
    </button>
  </a>
</div>

<div class="cartas">
  <div class="container-fluid">
    <div class="row ancho margenes-1 justify-content-center py-lg-5">
      <div class="beneficios col-12 col-lg-2 my-3 my-lg-0">
        <img src="../../../assets/img/svg/socios.svg" alt="Socio">
        <a [routerLink]="['/beneficios-de-socio']">
          <h3 class="titulo mt-4 mb-3">Beneficios Socios</h3>
        </a>
        <p class="parrafoCartas">Contamos con una gran variedad de beneficios para vos y todo tu grupo familiar.</p>
      </div>
      <div class="beneficios col-12 col-lg-2">
        <img src="../../../assets/img/svg/Futbol.svg" alt="Socio">
        <a target="_blank" href="https://futbol.aycle.net/">
          <h3 class="titulo mt-4 mb-3">Sistema F&uacute;tbol</h3>
        </a>
        <p class="parrafoCartas">Enterate de todos los equipos y torneos del año.</p>
      </div>
      <div class="beneficios col-12 col-lg-2 ">
        <img src="../../../assets/img/svg/Autogestion.svg" alt="Socio">
        <a target="_blank" href="https://www.aycom.com.ar/autogestion/?aycom=150">
          <h3 class="titulo mt-4 mb-3">Autogesti&oacute;n</h3>
        </a>
        <p class="parrafoCartas">Servicio de Autogesti&oacute;n para Empresas y Gestores</p>
      </div>
      <div class="beneficios col-12 col-lg-2">
        <img src="../../../assets/img/svg/Calculadora.svg" alt="Socio">
        <a target="_blank" href="https://cecr.com.ar/escalacec.php">
          <h3 class="titulo mt-4 mb-3">Calculadora de Sueldos</h3>
        </a>
        <p class="parrafoCartas">
          Actualizada seg&uacute;n Paritarias
        </p>
      </div>
      <div class="beneficios col-12 col-lg-2 mb-lg-0 mb-5">
        <img src="../../../assets/img/svg/calendario.svg" alt="Socio">
        <h3 class="titulo mt-4 mb-3" data-toggle="modal" data-target="#calendarioDeMerdaderia">Calendario de Mercader&iacute;a</h3>
        <p class="parrafoCartas">Fechas de entrega de vales para mercadería de todo el año</p>
      </div>
    </div>
  </div>
</div>

<!-- aca va la info de noticias -->

<!-- <div class="noticias margenes-1 pb-4 pb-lg-4">
  <h2 class="titulo pl-5 pt-5 pl-lg-0 pt-lg-0">&Uacute;ltimas Noticias</h2>
  <div class=" d-flex flex-row flex-wrap">
    <div class="noticia card mx-0 mx-lg-2">
      <div>
        <img class="card-img-top imagen cover" src=" IMAGEN DE LA NOTICIA " alt="">
      </div>
      <div class="h-100"> 
        <div class="info">
          <p class="fecha d-flex justify-content-end mb-3"> FECHA DE LA NOTICIA </p>
          <div class="datos">
            <h3 class="titulo my-4"> TITULO DE LA NOTICIA </h3>
            <p class="descripcion my-4 block-with-text"> DESCRIPCION DE LA NOTICIA </p>
          </div>          
        </div>
        <div class="d-flex justify-content-end align-items-end h-25">
          <button class="boton" [routerLink]="['/noticia']"><img class="mr-3" src="../../../assets/img/svg/next.svg" alt="">VER NOTICIA
            COMPLETA</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="verMas d-flex justify-content-center align-items-center mb-5">
    <button class="verNov" [routerLink]="['/noticias']">M&aacute;s Novedades</button>
  </div>
</div> -->


<!-- Modal -->
<div class="modal fade" id="calendarioDeMerdaderia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Calendario de Mercadería</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="w-100" src="../../../assets/img/img/mercado.jpeg" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>