<div class="bordetop"></div>

<div class="d-flex mt-5">
  <div class="noticias bgblanco margenes-1 pb-4 pb-lg-4">
    <h2 class="titulo tituloUltimasNoticias pl-5 pt-5 pl-lg-0 pt-lg-0 mb-lg-5">&Uacute;ltimas Noticias</h2>
    <div class=" d-flex flex-row flex-wrap justify-content-end">
      
      <!-- DATOS DE LA NOTICIA -->

      <!-- <div class="noticia card mx-0 mx-lg-2">
        <div>
          <img class="card-img-top imagen cover" src=" IMAGEN DE LA NOTICIA " alt="">
        </div>
        <div class="h-100"> 
          <div class="info">
            <p class="fecha d-flex justify-content-end mb-3"> FECHA DE LA NOTICIA </p>
            <div class="datos">
              <h3 class="titulo my-4"> TITULO DE LA NOTICIA </h3>
              <p class="descripcion my-4 block-with-text"> DESCRIPCION DE LA NOTICIA </p>
            </div>          
          </div>
          <div class="d-flex justify-content-end align-items-end h-25">
            <button class="boton" [routerLink]="['/noticia']"><img class="mr-3" src="../../../assets/img/svg/next.svg" alt="">VER NOTICIA
              COMPLETA</button>
          </div>
        </div>
      </div>  -->

    </div>
  </div>
  <div class="d-none d-md-block">
    <div class="w-50 ml-5 mt-5 pt-5">
      <div class="beneficios mb-5 mt-1">
        <img src="../../../assets/img/svg/socios.svg" alt="Socio">
        <a [routerLink]="['/beneficios-de-socio']">
          <h3 class="titulo mt-4 mb-3">Beneficios Socios</h3>
        </a>
        <p class="parrafoCartas">Contamos con una gran variedad de beneficios para vos y todo tu grupo familiar.</p>
      </div>
      <div>
        <img data-toggle="modal" data-target="#calendarioDeMerdaderia" src="../../../assets/img/img/banner_mercaderia.png" alt="">
      </div>
      <div class="beneficios my-5">
        <img src="../../../assets/img/svg/Autogestion.svg" alt="Socio">
        <a target="_blank" href="https://www.aycom.com.ar/autogestion/?aycom=150">
          <h3 class="titulo mt-4 mb-3">Autogesti&oacute;n</h3>
        </a>
        <p class="parrafoCartas">Servicio de Autogesti&oacute;n para empresas y Gestores</p>
      </div>  
      <div>
        <img src="../../../assets/img/img/banner_farmacia.png" alt="">
      </div>  
    </div>    
  </div>
</div>

<div class="modal fade" id="calendarioDeMerdaderia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Calendario de Mercadería</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="w-100" src="../../../assets/img/img/mercado.jpeg" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
